{% extends "movies/base.html" %}

{% block title %} Books I've Read {% endblock %}

{% block content %}
  <div class="container">
  	<div class="row">
      <div class="col-md-12">
        <h1>I've read {{ num_books }} books...</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row col-md-12" data-toggle="buttons">
        <label class="btn btn-primary active" id="optionwatch">
          <input type="radio" name="options" onclick="sortbyWatch();"> Sort by Read Date
        </label>
        <label class="btn btn-primary" id="optionrelease">
          <input type="radio" name="options"  onclick="sortbyRelease();"> Sort by Release Date
        </label>
        <label class="btn btn-primary" id="optiontitle">
          <input type="radio" name="options" onclick="sortbyTitle();"> Sort by Title
        </label>
        <label class="btn btn-primary" id="optionauthor">
          <input type="radio" name="options" onclick="sortbyAuthor();"> Sort by Author
        </label>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

  	<div class="row" id="titleview" style="display: none;">
      <div class="col-md-12">
    		{% for book in book_list_title %}
          <h3><a href="{{ book.title_link }}">{{ book.title|upper }}</a> ({{ book.release_date.year }}) — {{ book.author }}</h3>
          {% if book.watch_date.year > 1900 %}
  		      <h5>Read {{ book.watch_date }}</h5>
          {% endif %}
  		  {% endfor %}
    </div>
  	</div>

    <div class="row" id="watchview" style="display: block;">
      <div class="col-md-12">
        {% for book in book_list_watch %}
          <h3><a href="{{ book.title_link }}">{{ book.title|upper }}</a> ({{ book.release_date.year }}) — {{ book.author }}</h3>
          {% if book.watch_date.year > 1900 %}
  		      <h5>Read {{ book.watch_date }}</h5>
          {% endif %}
        {% endfor %}
    </div>
    </div>

    <div class="row" id="releaseview" style="display: none;">
      <div class="col-md-12">
        {% for book in book_list_release %}
          <h3><a href="{{ book.title_link }}">{{ book.title|upper }}</a> ({{ book.release_date.year }}) — {{ book.author }}</h3>
          {% if book.watch_date.year > 1900 %}
  		      <h5>Read {{ book.watch_date }}</h5>
          {% endif %}
        {% endfor %}
    </div>
    </div>

    <div class="row" id="authorview" style="display: none;">
      <div class="col-md-12">
        {% for book in book_list_author %}
          <h3><a href="{{ book.title_link }}">{{ book.title|upper }}</a> ({{ book.release_date.year }}) — {{ book.author }}</h3>
          {% if book.watch_date.year > 1900 %}
            <h5>Read {{ book.watch_date }}</h5>
          {% endif %}
        {% endfor %}
    </div>
    </div>
  </div>

  <script>
    function sortbyRelease() {
    document.getElementById('titleview').style.display = 'none';
    document.getElementById('watchview').style.display = 'none';
    document.getElementById('authorview').style.display = 'none';
    document.getElementById('releaseview').style.display = 'block';
    document.getElementById('optiontitle').className = "btn btn-primary";
    document.getElementById('optionwatch').className = "btn btn-primary";
    document.getElementById('optionauthor').className = "btn btn-primary";
    document.getElementById('optionrelease').className = "btn btn-primary active";

    }
    function sortbyWatch() {
    document.getElementById('releaseview').style.display = 'none';
    document.getElementById('titleview').style.display = 'none';
    document.getElementById('authorview').style.display = 'none';
    document.getElementById('watchview').style.display = 'block';
    document.getElementById('optionrelease').className = "btn btn-primary";
    document.getElementById('optiontitle').className = "btn btn-primary";
    document.getElementById('optionauthor').className = "btn btn-primary";
    document.getElementById('optionwatch').className = "btn btn-primary active";
    }

    function sortbyTitle() {
    document.getElementById('releaseview').style.display = 'none';
    document.getElementById('watchview').style.display = 'none';
    document.getElementById('authorview').style.display = 'none';
    document.getElementById('titleview').style.display = 'block';
    document.getElementById('optionrelease').className = "btn btn-primary";
    document.getElementById('optionwatch').className = "btn btn-primary";
    document.getElementById('optionauthor').className = "btn btn-primary";
    document.getElementById('optiontitle').className = "btn btn-primary active";
    }

    function sortbyAuthor() {
    document.getElementById('releaseview').style.display = 'none';
    document.getElementById('watchview').style.display = 'none';
    document.getElementById('titleview').style.display = 'none';
    document.getElementById('authorview').style.display = 'block';
    document.getElementById('optionrelease').className = "btn btn-primary";
    document.getElementById('optionwatch').className = "btn btn-primary";
    document.getElementById('optiontitle').className = "btn btn-primary";
    document.getElementById('optionauthor').className = "btn btn-primary active";
    }

  </script>

{% endblock %}
