{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Lists{% endblock %}</title>

    <!-- Stylesheets -->
    <link href="{% static 'movies/style.css' %}" rel="stylesheet">
    <link href="{% static 'movies/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!--  <script src="{% static 'movies/bootstrap/js/bootstrap.min.js' %}"></script> -->

  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
  
</html>
